<div [formGroup]="leafNumberForm">
<label for="leafNumberValue">{{ typenames[numberType] }} ({{ activeMin }}-{{ activeMax }}) {{ range }}</label>
<input [formControl]="leafNumberForm.controls['leafNumberValue']" type="number" class="form-control"
  required formControlName="leafNumberValue" >


  <div *ngIf="leafNumberForm.controls['leafNumberValue'].invalid &&
      (leafNumberForm.controls['leafNumberValue'].dirty ||
        leafNumberForm.controls['leafNumberValue'].touched)"
       class="alert alert-danger">

    <div *ngIf="leafNumberForm.controls['leafNumberValue'].errors.required">
      {{ attrName }} is required.
    </div>
    <div *ngIf="leafNumberForm.controls['leafNumberValue'].errors.min">
      {{ attrName }} must be at least {{ activeMin }}.
    </div>
    <div *ngIf="leafNumberForm.controls['leafNumberValue'].errors.max">
      {{ attrName }} must not be more than {{ activeMax }}.
    </div>
    <div *ngIf="leafNumberForm.controls['leafNumberValue'].errors.range">
      {{ attrName }} does not match range {{ range }}.
    </div>
  </div>
</div>
