<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngFor="let dn of yangMetaService.metaIndex.keys()">
    <div [ngSwitch]="yangMetaService.metaIndex.get(dn).nodeType">
      <container *ngSwitchCase="0" [containerModel]="yangMetaService.metaIndex.get(dn)" [dn]="dn"></container>
      <p *ngSwitchCase="1">List Node</p>
      <leaf *ngSwitchCase="2" [leafModel]="yangMetaService.metaIndex.get(dn)" [dn]="dn" [value]="yangDataService.yangValueMap.get(dn)"></leaf>
      <p *ngSwitchCase="3">Leaf List Node</p>
    </div>
  </div>
</div>
