<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngFor="let dn of appYangMetaService.metaIndex.keys()">
    <div [ngSwitch]="appYangMetaService.metaIndex.get(dn).nodeType">
      <container *ngSwitchCase="0" [containerModel]="appYangMetaService.metaIndex.get(dn)" [dn]="dn"></container>
      <list *ngSwitchCase="1" [listModel]="appYangMetaService.metaIndex.get(dn)" [dn]="dn" [valuesMap]="yangDataService.yangValueMap"></list>
      <leaf *ngSwitchCase="2" [leafModel]="appYangMetaService.metaIndex.get(dn)" [dn]="dn" [value]="yangDataService.yangValueMap.get(dn)"></leaf>
      <p *ngSwitchCase="3">Leaf List Node not yet implemented</p>
    </div>
  </div>
</div>
